.header__link-item {
  margin-bottom: 18px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: .875rem;
  color: #fff;
}

.header__link-item:last-of-type {
  margin-bottom: 0;
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .header__link-item {
    margin: 0 24px 0 0;
  }
}
